@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @base;
}

tooltip {
    background: transparent;
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    border-color: #3B4043;
}

#custom-language,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#tray,
#backlight,
#cpu,
#memory,
#temperature,
#custom-notification {
    color: #98bdd4;
    background: @base;
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}


#network {
    color: #98bdd4;
    background: @base;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-bluetooth {
    color: #98bdd4;
    background: @base;
    padding: 0px 15px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#power-profiles-daemon {
    color: #6496b5;
    background: @base;
    padding: 0px 17px 0px 10px;;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#custom-weather {
    color: #98bdd4;
    background: @base;
    padding: 0px 12px 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-appmenu {
    color: #6496b5;
    background: @base;
    padding: 0px 14px 0px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 2px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#custom-power {
    color: #6496b5;
    background: @base;
    padding: 0px 14px 0px 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 8px;
    border: 1px solid #3a3f42;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

/* Workspace Style - Start */
#workspaces {
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
tooltip,
#workspaces {
    color: #6496b5;
    padding: 0px 10px 0px 0px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: @base;
    border: 1px solid #3a3f42;
    padding: 3px;
}
#workspaces button {
    padding: 2px 8px 2px 8px;
    color: #98bdd4;
}
#workspaces button.active {
    color: #192126;
    border-radius: 7px;
    background-color: #6496b5;
}
#workspaces button.focused {
    color: #6496b5;
    border-radius: 7px;
}
#workspaces button.urgent {
    color: #63e7eb;
    border-radius: 7px;
}
#workspaces button:hover {
    color: #6496b5;
    border-radius: 7px;
}
/* Workspace Style - End */
